<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet"  href="/stylesheet.css" type="text/css" media="all">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/bean.js" type="text/javascript"></script>
        <script src="/bean_message.js" type="text/javascript"></script>
        <script src="/bean_data.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Gateway Explorer</h1>
        {{{ content }}}
    </body>
</html>
